<!DOCTYPE html>
<html   th:replace="~{/_admin_layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #content}
                                               )}"
        xmlns:th="http://www.thymeleaf.org">

<title id="title">Admin | Thêm Danh mục SP</title>
<div id="content" align="center">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thêm Danh mục mới</h1>
    <form style="width: 50%" action="#" th:action="@{/saveManufacturer}" th:object="${manufacturer}" method="post" class="user">
        <hr>
        <div class="form-group">
            <input type="text" th:field="*{name}" class="form-control form-control-user" placeholder="Question" required="true" autofocus>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{country}" class="form-control form-control-user" placeholder="Answer" required="true">
        </div>
        <button type="submit" class="btn-lg btn-success" value="submit">Thêm</button>
        <hr>
    </form>
</div>

<!-- End of Content Wrapper -->

</html>
