<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/fav.png}">
    <!-- meta character set -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Site Title -->
    <title>Reset Password</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div class="error_area">
    <div>
        <h2>Reset Password</h2>
    </div>

    <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" name="password" id="txtPassword" class="form-control"
                           placeholder="New Password" required autofocus />
                </p>
                <p>
                    <input type="password" class="form-control" id="txtConfirmPassword" placeholder="New password"
                           required />
                </p>
                <p class="text-center">
                    <input type="submit" value="Confirm" class="primary-btn" onclick="return Validate()"/>
                </p>
            </div>
        </div>
    </form>

</div>
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("password incorrect!");
            return false;
        }
        return true;
    }
</script>
</body>

</html>