DROP DATABASE IF EXISTS [GuitarShopDB];
CREATE DATABASE [GuitarShopDB];
USE [GuitarShopDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[metadata] [nvarchar](50) NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCode]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[discount_amount] [int] NULL,
	[end_date] [datetime] NULL,
	[start_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hibernate_sequence]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hibernate_sequence](
	[next_val] [numeric](19, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_time] [datetime] NULL,
	[customer_address] [nvarchar](1255) NULL,
	[customer_email] [varchar](255) NULL,
	[customer_message] [nvarchar](1255) NULL,
	[customer_name] [nvarchar](255) NULL,
	[customer_phone] [varchar](20) NULL,
	[discount_id] [int] NULL,
	[person_id] [int] NULL,
	[payment_method] [nvarchar](255) NULL,
	[status] [int] NULL,
	[total] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[invoice_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Message_Content] [nvarchar](1000) NULL,
	[Name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](1255) NULL,
	[Email] [varchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[enable] [tinyint] NULL,
	[verificationCode] [varchar](64) NULL,
	[reset_password_token] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[average_rate] [float] NULL,
	[created_time] [datetime] NULL,
	[description] [nvarchar](1255) NULL,
	[discount_amount] [int] NULL,
	[category_id] [int] NULL,
	[manufacturer_id] [int] NULL,
	[main_img] [text] NULL,
	[name] [nvarchar](255) NULL,
	[price] [float] NULL,
	[style] [nvarchar](255) NULL,
	[warranty] [nvarchar](255) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [text] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[star] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_Id] [int] NOT NULL,
	[Role_Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[User_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 12/22/2020 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [metadata], [name]) VALUES (1, N'acoustic-guitars', N'Acoustic guitars')
INSERT [dbo].[Category] ([id], [metadata], [name]) VALUES (2, N'classic-guitars', N'Classic guitars A')
INSERT [dbo].[Category] ([id], [metadata], [name]) VALUES (3, N'guitars-with-eq', N'Guitars with EQ')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[DiscountCode] ON 

INSERT [dbo].[DiscountCode] ([id], [code], [discount_amount], [end_date], [start_date]) VALUES (6, N'NOEL2020', 5, CAST(N'2020-12-30T00:00:00.000' AS DateTime), CAST(N'2020-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[DiscountCode] ([id], [code], [discount_amount], [end_date], [start_date]) VALUES (7, N'NEWYEAR2021', 10, CAST(N'2020-12-30T00:00:00.000' AS DateTime), CAST(N'2020-12-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DiscountCode] OFF
GO
INSERT [dbo].[hibernate_sequence] ([next_val]) VALUES (CAST(1 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([id], [created_time], [customer_address], [customer_email], [customer_message], [customer_name], [customer_phone], [discount_id], [person_id], [payment_method], [status], [total]) VALUES (23, CAST(N'2020-12-21T02:45:41.090' AS DateTime), N'529 Bình Giã, F. Thắng Nhất, TP. Vũng Tàu', N'ngothanhbinh261@gmail.com', N'', N'Ngô Thanh Bình', N'0335 056 697', 6, 22, N'COD', 0, 1890500)
INSERT [dbo].[Invoice] ([id], [created_time], [customer_address], [customer_email], [customer_message], [customer_name], [customer_phone], [discount_id], [person_id], [payment_method], [status], [total]) VALUES (24, CAST(N'2020-12-21T02:51:14.333' AS DateTime), N'123', N'ngothanhbinh261@gmail.com', N'123', N'Ngô Thanh Bình', N'0335 056 697', NULL, 0, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
INSERT [dbo].[InvoiceDetail] ([invoice_id], [product_id], [quantity]) VALUES (23, 25, 1)
INSERT [dbo].[InvoiceDetail] ([invoice_id], [product_id], [quantity]) VALUES (24, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([id], [country], [name]) VALUES (1, N'Tây Ban Nha', N'Admira')
INSERT [dbo].[Manufacturer] ([id], [country], [name]) VALUES (2, N'Italia', N'EKO')
INSERT [dbo].[Manufacturer] ([id], [country], [name]) VALUES (3, N'Trung Quốc', N'Epiphone')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([User_Id], [Address], [Email], [Name], [Password], [Phone], [enable], [verificationCode], [reset_password_token]) VALUES (1, N'Tp. HCM', N'admin@gmail.com', N'Admin', N'$2a$10$//hPnL2LSgRlOqAKmdaFX.ti7db3S3KeHrJTI573hiaNEY0ZNl.Y.', N'', 1, NULL, NULL)
INSERT [dbo].[Person] ([User_Id], [Address], [Email], [Name], [Password], [Phone], [enable], [verificationCode], [reset_password_token]) VALUES (22, N'529 Bình Giã, F. Thắng Nhất, TP. Vũng Tàu', N'ngothanhbinh261@gmail.com', N'Ngô Thanh Bình ASD', N'$2a$10$kKjDF23yIxZZEloqVVtXION1AJRk40zRqX7kjzJSB.L/QvP1ilhQi', N'0335056697', 1, N'BuU3Ns3Ucd3ROScx9GpCdicSkkh4tqXQelO80HJEpVPVKaCWtPnyPnpolHpkVrCl', N'khKJoX7RYyFEiO4GBZMrIzmGrGGN9u')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [average_rate], [created_time], [description], [discount_amount], [category_id], [manufacturer_id], [main_img], [name], [price], [style], [warranty], [quantity]) VALUES (1, 0, CAST(N'2019-03-26T21:45:00.000' AS DateTime), N'Get reports for absenteeism, salaries, turnover rate on your company and much more in just one click. Yolohr will automatically generate all these reports and graphs.', 0, 1, 7, N'img1.jfif', N'Guitar Acoustic STATION CC-269', 2690000, N'Dáng A, thùng khuyết tròn', N'1 năm', 10)
INSERT [dbo].[Product] ([id], [average_rate], [created_time], [description], [discount_amount], [category_id], [manufacturer_id], [main_img], [name], [price], [style], [warranty], [quantity]) VALUES (2, 0, CAST(N'2019-03-26T21:45:00.000' AS DateTime), N'Get reports for absenteeism, salaries, turnover rate on your company and much more in just one click. Yolohr will automatically generate all these reports and graphs.', 0, 1, 5, N'img1.jfif', N'Guitar Acoustic MAGNA – M-91-NAT', 2790000, N'Dáng D, thùng đầy', N'1 năm', 10)
INSERT [dbo].[Product] ([id], [average_rate], [created_time], [description], [discount_amount], [category_id], [manufacturer_id], [main_img], [name], [price], [style], [warranty], [quantity]) VALUES (3, 0, CAST(N'2019-03-26T21:45:00.000' AS DateTime), N'Get reports for absenteeism, salaries, turnover rate on your company and much more in just one click. Yolohr will automatically generate all these reports and graphs.', 9, 1, 8, N'img1.jfif', N'Guitar Acoustic Yamaha F310', 3500000, N'Dáng D, thùng đầy', N'1 năm', 10)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([id], [data], [product_id]) VALUES (1, N'img2.jfif', 1)
INSERT [dbo].[ProductImage] ([id], [data], [product_id]) VALUES (2, N'img2.jfif', 2)
INSERT [dbo].[ProductImage] ([id], [data], [product_id]) VALUES (3, N'img2.jfif', 3)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Rate] ON 

INSERT [dbo].[Rate] ([id], [product_id], [star]) VALUES (1, 1, 4)
INSERT [dbo].[Rate] ([id], [product_id], [star]) VALUES (2, 1, 4)
INSERT [dbo].[Rate] ([id], [product_id], [star]) VALUES (3, 1, 5)
SET IDENTITY_INSERT [dbo].[Rate] OFF
GO
INSERT [dbo].[Role] ([Role_Id], [Role_Name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([Role_Id], [Role_Name]) VALUES (2, N'admin')
GO
INSERT [dbo].[UserRole] ([User_Id], [Role_Id]) VALUES (1, 2)
INSERT [dbo].[UserRole] ([User_Id], [Role_Id]) VALUES (22, 1)
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_discount_amount]  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK12txwi2wgp2nlege4dk2tkp2s] FOREIGN KEY([discount_id])
REFERENCES [dbo].[DiscountCode] ([id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK12txwi2wgp2nlege4dk2tkp2s]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FKa3mdqlwds7uq46eu2u4qi50xj] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoice] ([id])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FKa3mdqlwds7uq46eu2u4qi50xj]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FKjn9jnuye5bhcqwejajyp7wsam] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FKjn9jnuye5bhcqwejajyp7wsam]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FKcegp2ce7tblso6aysslutlmg9] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[Manufacturer] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FKcegp2ce7tblso6aysslutlmg9]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FKexqqeaksnmmku5py194ywp140] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FKexqqeaksnmmku5py194ywp140]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK6ch4gkmymtkgrhncc35bhyrmf] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK6ch4gkmymtkgrhncc35bhyrmf]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK6pq5j13s0clw2rmuonts1pr61] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK6pq5j13s0clw2rmuonts1pr61]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK1gock2487832072it3421n4ai] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Role_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK1gock2487832072it3421n4ai]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FKn2dct5d4tljl2cm7x8huxsr39] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Person] ([User_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FKn2dct5d4tljl2cm7x8huxsr39]
GO
